.container {
  display: "flex";
  justify-content: "center";
  align-items: "center";
  width: "50%";
  margin: "0 auto";
  padding: "20px";
  box-sizing: "border-box";
}

.formStyle {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  width: 50%;
  margin: 0 auto;
  padding: 20px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  background-color: #f9f9f9;
}

.formStyle .form-control {
  width: 100%;
  max-width: 400px;
}

.uploaded {
  margin-top: 2rem;
}

.uploaded .inner-div {
  margin-bottom: 1rem;
}

.inner-div {
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 1px solid #ddd;
  padding: 15px;
  border-radius: 8px;
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.1);
  background-color: #ffffff;
}

.inner-div h6 {
  margin: 10px 0;
}

.output-div {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: center;
}

.modalContent {
  position: relative;
  background-color: #fff;
  border-radius: 8px;
  padding: 2rem;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.modalCloseIcon {
  position: absolute;
  top: 16px;
  right: 16px;
  cursor: pointer;
}

.pdfViewer {
  width: 100%;
  max-width: 600px;
  margin: 0 auto;
}